.container{
   
    width:80%;
    margin: 200px auto;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
}
.bar{
    background-color: orangered;
    width:10px;
transition: height 0.2s;
    margin:2px;
    color:white;
    padding:8px;
}